<nav class="navbar navbar-expand-lg fixed-top custom-navbar">

  <div class="container">

    <a class="navbar-brand logo" href="#">
      💖 For You
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMenu">

      <i class="bi bi-list"></i>

    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#gift">Gift</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#timeline">Timeline</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#surprise">Surprise</a>
        </li>

      </ul>

    </div>

  </div>

</nav>