/* Smooth Scrolling */
html{
    scroll-behavior:smooth;
}

/* Navbar */
.navbar{

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(15px);

    -webkit-backdrop-filter:blur(15px);

    padding:12px 0;

    transition:.3s;

    z-index:9999;

    box-shadow:0 8px 20px rgba(0,0,0,.1);

}

/* Logo */

.logo{

    font-size:28px;

    font-weight:700;

    color:#ff4d88 !important;

    text-decoration:none;

}

/* Navigation Links */

.nav-link{

    color:#e36abb !important;

    font-weight:600;

    margin-left:20px;

    transition:.3s;

    position:relative;

}

.nav-link:hover{

    color:#ffd1e6 !important;

}

/* Underline Animation */

.nav-link::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-5px;

    width:0;

    height:2px;

    background:#ff4d88;

    transition:.3s;

}

.nav-link:hover::after{

    width:100%;

}

/* Hamburger Button */

.navbar-toggler{

    border:none;

    box-shadow:none !important;

}

.navbar-toggler i{

    color:#e36abb;

    font-size:30px;

}

/* Mobile */

@media(max-width:991px){

.navbar-collapse{

    margin-top:15px;

    padding:20px;

    border-radius:20px;

    background:rgba(255,255,255,.18);

    backdrop-filter:blur(20px);

    text-align:center;

}

.nav-link{

    margin:15px 0;

    font-size:18px;

}

}

/* Desktop */

@media(min-width:992px){

.navbar-nav{

    align-items:center;

}

}