<!-- FAKE PAGE -->
<app-fake-page
  *ngIf="page === 'fake'"
  (openLogin)="openLogin()">
</app-fake-page>


<!-- LOGIN PAGE -->
<app-login
  *ngIf="page === 'login'"
  (unlocked)="unlockWebsite()">
</app-login>


<!-- REAL BIRTHDAY WEBSITE -->
<ng-container *ngIf="page === 'website'">

  <app-navbar></app-navbar>

  <app-hero></app-hero>

  <app-gift-box></app-gift-box>

  <app-message></app-message>

  <app-gallery></app-gallery>

  <app-timeline></app-timeline>

  <app-reasons></app-reasons>

  <app-quotes></app-quotes>

  <app-surprise></app-surprise>

  <app-footer></app-footer>

  <app-music-player></app-music-player>

</ng-container>